.section6 .container::-webkit-scrollbar {
    height: 0px;
}
.section6 .container::-webkit-scrollbar-track {
    background: #fff;
}
.section6 .container::-webkit-scrollbar-thumb {
    background: #fff;
}
.section6{
    padding: 64px 24px;
}
.section6 .title{
    font-size: 28px;
    font-weight: 600;
}
.section6 .subtitle{
    font-size: 17px;
    font-weight: 600;
    color: rgb(130, 10, 209);
    margin: 12px 0px 24px 0px;
}
.section6 .container{
    display: flex;
    overflow-x: scroll;
}
.section6 .container .box{
    border-radius: 30px;
    border: solid 1px rgb(230, 230, 230);
    padding: 24px;
    position: relative;
    min-width: 286px;
    width: 286px;
    padding-top: 290px;
    margin-right: 16px;
}
.section6 .container .box h1{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 16px;
}
.section6 .container .box h2{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 12px;
}
.section6 .container .box .button{
    color: rgb(130, 10, 209);
    font-weight: 600;
    font-size: 16px;
}
.section6 .container .box .button i{
    margin-left: 6px;
    font-size: 19px;
}
.section6 .container .box img{
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 265px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}